<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="../js/vue.js"></script>
    <title>Document</title>
</head>
<body>
    <div id="box">
        <div v-if="seen">super junior</div>
        <div v-else>mamamoo</div>
        <h1 v-if="type==='A'">我是A</h1>
        <h1 v-else-if="type==='B'">我是B</h1>
        <h1 v-else-if="type==='C'">我是C</h1>
        <h1 v-else>我是人中龙凤</h1>
    </div>
    <script>
     let vue=new Vue({
         el:"#box",
         data:{
           massage:"",
           seen:true,
           type:"C"
         }
     })

    </script>
</body>
</html>